.nav-bar-custom {
    --bs-bg-opacity: 1;
    background-color: var(--primary) !important;
    overflow: scroll;
}

.Footer {
    background-color: var(--primary) !important;
    color: var(--enabled);
    position: relative;
    height: 4rem;
    display: flex;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.font-theme-light {
    color: var(--enabled) !important;
}

#section-right .nav-link {
    color: var(--enabled) !important;
}

#section-left .nav-link {
    color: var(--enabled) !important;
    font-size: 1rem;
}

#section-left .nav-link.active {
    color: var(--secondary) !important;
}
